.container {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1200px;
}

.flex {
    display: flex;

    &.center {
        justify-content: center;
    }

    &.v-center {
        align-items: center;
    }
}

#container-skills {
    text-align: center;

    .item {
        margin: 0 16px;
    }

	.container-skill-icon {


        img {
			width: 48px;
	        height: 48px;
		}
    }

    .container-skill-title {
        flex: 1;
        padding-left: 16px;
        text-align: left;

		.title {
	        margin-bottom: 8px;
	        text-align: center;
	        font-weight: bold;
	    }

        .value {
            float: right;
            display: inline-block;
            text-align: right;
        }
    }

	.progress-bar {
		margin-top: 8px;
		width: 200px;
		height: 17px;
		background-color: #000;
		border-radius: 8px;
		overflow: hidden;

		&::-webkit-progress-bar {
			background-color: #F1F1F1;
			box-shadow: 0 1px 6px rgba(0, 0, 0, .35) inset;
		}

		&::-webkit-progress-value {
			background-color: #4CAF50;
		    background: linear-gradient(to bottom, #43A047 0%, #81C784 50%, #43A047 100%);
		}
	}
}

#container-actions {


	.item {
		width: 168px;
		margin: 0 16px;
		padding: 12px 12px;
		text-align: center;
		border: 1px solid #000;
		cursor: pointer;
		user-select: none;

		&.active {
			background-color: #C8E6C9;
			border-color: #43A047;
		}

		.details {
			color: #888;
			font-size: .875em;
		}
	}
}

#container-inventory {


	ul {
		list-style: none;

		li {
			display: flex;
			padding: .25em 0;

			.item {
				flex: 1;
			}

			.actions span {
				margin: 0 .25em;
				cursor: pointer;

				&.drop {
					color: #F44336;
				}
			}
		}
	}
}

footer {
	text-align: center;
}
